ion-content ion-row ion-col {
    margin-left: 30%;
    margin-right:30%;
}

ion-content ion-row ion-col ion-img {
    margin-top: 50%;
    margin-bottom: 20%;
    border: solid;
    border-width: 5px;
    border-color: gold;
    padding: 10px;
    border-radius: 10px;
}

