<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Reservations List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-row>
  <ion-searchbar></ion-searchbar>
</ion-row>
<ion-row>
  <ion-card color="danger">
    <ion-item color="danger">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Apr 1,2020 / 8:00PM(DUE)</ion-label>
      <ion-button color="primary" slot="end">Delete</ion-button>
    </ion-item>
  
    <ion-card-content>
      Delecta Restaurant 
      location, location, location
    </ion-card-content>
  </ion-card>
  <ion-card color="danger">
    <ion-item color="danger">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Apr 2,2020 / 8:00PM(DUE)</ion-label>
      <ion-button color="primary" slot="end">Delete</ion-button>
    </ion-item>
  
    <ion-card-content>
      Paborito Workplace 
      location, location, location
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Apr 4,2020 / 8:00PM</ion-label>
      <ion-button color="danger" slot="end">Cancel</ion-button>
    </ion-item>
  
    <ion-card-content>
      Paborito Workplace 
      location, location, location
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Apr 4,2020 / 8:00PM</ion-label>
      <ion-button color="danger" slot="end">Cancel</ion-button>
    </ion-item>
  
    <ion-card-content>
      Blugre Coffee 
      location, location, location
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Apr 4,2020 / 8:00PM</ion-label>
      <ion-button color="danger" slot="end">Cancel</ion-button>
    </ion-item>
  
    <ion-card-content>
      Paborito Workplace 
      location, location, location
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Apr 4,2020 / 8:00PM</ion-label>
      <ion-button color="danger" slot="end">Cancel</ion-button>
    </ion-item>
  
    <ion-card-content>
      Blugre Coffee 
      location, location, location
    </ion-card-content>
  </ion-card>
</ion-row>
</ion-content>
