<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Reservations List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-row>
  <ion-searchbar></ion-searchbar>
</ion-row>
<ion-row>
  <ion-card color="danger">
    <ion-item lines="none" color="danger">
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      <ion-label>Delecta Restaurant</ion-label>
      <ion-button color="primary" slot="end">Delete</ion-button>
    </ion-item>
  
    <ion-card-content>
      Apr 1,2020 / 8:00PM (DUE) <br>
      location, location, location
    </ion-card-content>
  </ion-card>
  <ion-card color="danger">
    <ion-item lines="none" color="danger">
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      <ion-label>Paborito Workplace</ion-label>
      <ion-button color="primary" slot="end">Delete</ion-button>
    </ion-item>
  
    <ion-card-content>
      Apr 2,2020 / 8:00PM(DUE) <br>
      location, location, location
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      <ion-label>Paborito Workplace</ion-label>
      <ion-button color="danger" slot="end">Cancel</ion-button>
    </ion-item>
  
    <ion-card-content>
      Apr 4,2020 / 8:00PM <br>
      location, location, location
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      <ion-label>Blugre Coffee</ion-label>
      <ion-button color="danger" slot="end">Cancel</ion-button>
    </ion-item>
  
    <ion-card-content>
      Apr 4,2020 / 8:00PM <br>
      location, location, location
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-item lines="none">
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      <ion-label>Paborito Workplace</ion-label>
      <ion-button color="danger" slot="end">Cancel</ion-button>
    </ion-item>
  
    <ion-card-content>
      Apr 4,2020 / 8:00PM <br>
      location, location, location
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      <ion-label>Blugre Coffee</ion-label>
      <ion-button color="danger" slot="end">Cancel</ion-button>
    </ion-item>
  
    <ion-card-content>
      Apr 4,2020 / 8:00PM <br>
      location, location, location
    </ion-card-content>
  </ion-card>
</ion-row>
</ion-content>
