ion-content ion-toolbar {
  --background: translucent;
}
ion-item{
  width:100%;
}
h2{
  margin-left: 20px;
  font-weight: bold;
}
ion-content ion-row ion-img {
  width: 60%;
  margin-left: 30%;
  margin-right: 30%;
}