<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      FoodHub
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header color="tertiary">
        <ion-card-title>
          Registration Form
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" >
          <ion-label position="floating">Full Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" >
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" >
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item lines="none" >
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item lines="none" >
          <ion-label position="floating">Re-type Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="primary" [routerLink]="['/tabs/tabs/tab2']">
          Sign Up
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
